$radius: 10px;
.badge {
  // top right works with absoulte position elements but where is absolute mentioned?
  // we are taking it from bootstrap class
  top: 10px;
  right: 20px;
  font-size: 17px;
}

.cards {
  border: 2px solid #0b5ed7;
  border-radius: 10px;
}

.img {
  // top left , topright , bottomright, bottom -left
  border-radius: $radius $radius 0 0;
  max-width:100%;
max-height:100%;
}
